.table {
  border-collapse: separate;
  border-spacing: 1em 2em;
}
.table > thead > tr > td:nth-child(4) {
  display: flex;
  gap: 0.5em;
}
.errorMessage {
  color: var(--error-txt);
  padding: 1em;
  font-weight: bold;
}

.filteredArrow {
  rotate: 180deg;
}
.table > thead > tr > td:nth-child(4):hover {
  cursor: pointer;
}
.table > tbody {
  max-height: 500px;
  overflow-y: auto;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.table > tbody > tr > td > p {
  font-size: var(--font-size-little);
}

.table > tbody > tr > td:has(button) {
  display: grid;
  place-items: center;
  gap: 0.5em;
}

.table tr > td > input {
  padding: 0;
  width: 80%;
}
.table > tbody > tr > td > button {
  font-size: var(--font-size-little);
  width: 100%;
}

.form_create {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
.form_create > input {
  width: fit-content;
  font-size: var(--font-size-little);
}
.form_create > input[type="submit"] {
  background-color: var(--darker-color);
  border-radius: 5px;
  color: white;
}
.form_create > input[type="submit"]:focus {
  background-color: var(--darker-color-big);
}
.form_create > input[type="submit"]:hover {
  cursor: pointer;
}
