.form_forgot {
  display: grid;
  grid-template-rows: 30px 0.3fr 0.3fr;
  place-items: center;
}

.form_forgot > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1em;
  width: 50%;

  & *,
  & > * {
    width: 100%;
    padding-inline: 0px;
  }
}
