.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: var(--font-size);
  row-gap: 5vh;
  margin-top: 150px;
}

.hours {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 5vh;
  width: 30%;
}

.hours thead > tr > th {
  position: relative;
  font-size: var(--font-size-bigger);
}
.hours thead > tr > th::after,
.hours thead > tr > th::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  background-color: var(--darker-color);
}

.hours thead > tr > th::after {
  top: -50%;
  width: 50%;
}
.hours thead > tr > th::before {
  bottom: -50%;
  width: 70%;
}

.hours tbody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 3vh;
  width: 100%;
}
.hours tbody > tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  width: 100%;
}

.footer nav {
  width: 30%;
}
.footer nav > ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  column-gap: 2.5vw;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 1em;
}
.footer nav > ul a {
  color: var(--darker-color);
  text-decoration: none;
}

.footer > p {
  font-size: var(--font-size-little);
}

@media screen and (max-width: 800px) {
  .footer nav {
    width: 50%;
  }
  .hours {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    width: 100%;
  }
  .footer nav {
    width: 100%;
  }
  .footer nav > ul {
    width: auto;
  }
  .hours {
    width: 100%;
  }
}
