.reservation_section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  overflow: auto;
  scroll-behavior: smooth;
  & h1 {
    font-size: var(--font-size-bigger);
  }
  & h2 {
    text-align: center;
  }
}
.lunch_hours,
.dinner_hours {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.final_case {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  gap: 50px;
}
.final_case > p:hover {
  cursor: pointer;
}
.final_case:has(div) button {
  grid-area: 2 / 1 / 3 / 3;
}

.reservation_section:has(p.validationReservation) p.validationReservation {
  background: var(--primary-color);
  max-width: 90%;
  padding: 0.25em;
  color: var(--darker-color);
  font-weight: bolder;
  border-radius: 5px;
}

.option_reservation {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 5cqh 10vw;
}

.option_reservation label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: clamp(200px, 100%, 250px);
  border-radius: 0.5em;
  padding-inline-start: 0.5em;
  gap: 0.5em;
  background-color: var(--darker-color);
  & > svg {
    height: 30px;
  }
}
.option_reservation input {
  width: calc(100% - 0.5em);
  padding-inline-start: 0.25em;
  height: 30px;
}
.option_reservation input:disabled {
  background-color: var(--darker-color);
  color: rgba(255, 255, 255, 0.75);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.option_reservation input[type='date'] {
  background-color: var(--darker-color);
  color: #fff;
  border: none;
  min-width: 100%;
  font-size: var(--font-size-little);
  text-align: center;
  height: 30px;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.date_calendar::-webkit-calendar-picker-indicator {
  background: url('../js/assets/images/down-arrow.ico');
  background-size: cover;
  width: 20px;
  height: 20px;
}
.date_calendar::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.hours_list {
  display: flex;
  column-gap: 2cqw;
  row-gap: 3cqh;
  font-size: var(--font-size-reg);
  justify-content: center;
  flex-wrap: wrap;
  padding-inline: 3em;
  max-width: 100%;
}

.hours_list button {
  background-color: var(--primary-color);
  color: inherit;
  border-radius: 5px;
  font-size: var(--font-size);
  transition: 0.15s ease;
  min-width: fit-content;
  filter: brightness(100%);
  &::after {
    display: none;
  }

  &:hover {
    filter: brightness(70%);
  }
}
.hours_list button[data-selected='true'] {
  filter: brightness(70%);
}
.hours_list button[data-selected='false'] {
  filter: brightness(100%);
}

.alergy_container {
  position: relative;
  width: 200px;
  z-index: 50;
}
.alergy_container input {
  width: 100%;
  padding: 0.5em 1em;
  font-size: var(--font-size);
  &::placeholder {
    color: var(--color-blackless);
  }
}

@media screen and (max-width: 750px) {
  .option_reservation {
    grid-template-columns: 1fr;
  }

  .date_calendar {
    min-width: calc(100% + 2em);
  }
}

@media screen and (max-width: 480px) {
  .final_case {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .hours_list {
    padding-inline: 2em;
  }
  .reservation_section {
    gap: 5vh;
    padding-block: 50px;
    height: 65vh;
    width: 100%;
  }
  .reservation_section span {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
